<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <add key="xmlPath" value="C:\AIS\NewVersion\Xml\"/>
    <add key="fileName" value="SRV_L101_FLST_RT_LIM02_MQ_info_XML_"/>
    
    <!--CONEXIÓN A COLA DE IBM-MQ-->
    <add key="strQueueManagerName" value="QMLAP2D"/>
    <add key="strChannelName" value="CH.FLST.BMS.SRVCONN"/>
    <add key="strQueueName" value="AC.FLST.RT.BMS.RES.01"/>
    <add key="strServerName" value="200.37.104.23"/>
    <add key="intPort" value="1415"/>
    <add key="user" value="mqbms"/>
    <add key="password" value="p81tJY9YdW"/>

    <!--<add key="strQueueManagerName" value="QMLAP2Q"/>
    <add key="strChannelName" value="CH.FLST.BMS.SRVCONN"/>
    <add key="strQueueName" value="AC.FLST.RT.BMS.RES.01"/>
    <add key="strServerName" value="200.37.104.24"/>
    <add key="intPort" value="1415"/>
    <add key="user" value="mqbms"/>
    <add key="password" value="Yw10$0NSfH"/>-->


    <!--<add key="strQueueManagerName" value="QMLAP2Q"/>
    <add key="strChannelName" value="CH.FLSTHI.DAS.SRVCN"/>
    <add key="strQueueName" value="AC.FLSTHI.RT.BMS.RES.01"/>
    <add key="strServerName" value="200.37.104.24"/>
    <add key="intPort" value="1415"/>
    <add key="user" value="mqbms"/>
    <add key="password" value="Yw10$0NSfH"/>-->
    
  </appSettings>
</configuration>